
<h1 style="text-align: center;">Hello! Welcome to my notebook‚ù§Ô∏è

<img src="https://revenue-hub.com/wp-content/uploads/2020/07/netflix-hotels-can-learn.jpg" alt="Udemy Image" width="800" height="800" style="display: block; margin: auto;">

<h1>Importing Libraries

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

<h1>Reading Data

In [ ]:
df=pd.read_csv('/kaggle/input/netflix-shows/netflix_titles.csv')

<h1>Data Cleaning ,Exploratory and Analysis

In [ ]:
df.head() #first 5 rows 
#df.iloc[:5,:] #another way

In [ ]:
df.shape #(rows,cols)

In [ ]:
#show no of total values in the dataset
df.size

In [ ]:
#Checking statistics of columns for the int64 data type
df.describe(include=['object'])

In [ ]:
df.shape

In [ ]:
df['show_id'].nunique() # unique val in 'show_id' col each no of rows so we can use it as an index

In [ ]:
df.set_index('show_id', inplace=True)

<h1>Checking For Duplicated Values

In [ ]:
df[df.duplicated()]

In [ ]:
num_duplicated_rows = df.duplicated().sum()
print("Count of Duplicated rows is :",num_duplicated_rows)

<h6>Data doesn't contain any duplicated rows

<h1>Checking For NULL Values and Data Types

In [ ]:
sns.heatmap(df.isnull()) # from this chart we can realize that 5 cols have Null values {'director' ,'cast' ,'country','date_added','duration'}

In [ ]:
df.info()  #shows  col name , no of NUll values , Data Types

In [ ]:
# Total number of null values in the dataframe 
df.isnull().sum().sum()

In [ ]:
print("Col 'cast' contains     : (",df['cast'].isnull().sum() ,") Null value")
print("Col 'director' contains : (",df['director'].isnull().sum() ,") Null value")
print("Col 'director' contains : (",df['country'].isnull().sum() ,") Null value")

<h6>they have many Null values so droping rows that have cast Null will affect the data

In [ ]:
#replacing Null Values in these cols by"Unkown" val

df[['director', 'cast', 'country']] = df[['director', 'cast', 'country']].replace(np.nan, "Unknown ")
df

In [ ]:
#drop rows that contain "rating" or "duration" or "date_added" Null Value
df.dropna(subset=['rating','duration','date_added'],inplace =True) 
df

In [ ]:
df.isnull().sum() #Done‚úÖ‚úÖ

<h6> Now Data does not contain any Null Values

<h3>COL "date_added"

In [ ]:
df[ 'date_added'].dtype

In [ ]:
#convert its Data Type from "object" to "Date"
df[ 'date_added']= df['date_added'].apply(pd.to_datetime)
df[ 'date_added'].dtype

In [ ]:
#splilting Year from date_added col
df['loading_Year'] = df ['date_added'].dt.year
df['loading_Year']

In [ ]:
#splilting month from date_added col and covert val to Month name
df['loading_Month']= df ['date_added'].dt.month_name()
df['loading_Month']

In [ ]:
#Now we can drop "date_added" col
df.drop("date_added",axis=1,inplace=True)

In [ ]:
#Checking statistics of columns for the int data type
df.describe(include=['int'])

<h3>Split duration col

In [ ]:
df['duration'].unique()

In [ ]:
df[['Minutes','Units']]=df['duration'].str.split(' ',expand=True)

In [ ]:
#Spliting
df[['Minutes','Units']]=df['duration'].str.split(' ',expand=True)
#convert type
df['Minutes'].astype(int)

<h1>Cleaning Done‚úÖ‚úÖ
<h1> It is time to  make a deep Exploratoration with some Visalizationsüìäüìàüìâ

In [ ]:
df_temp=df[['loading_Year','release_year']]
df_temp

In [ ]:
plt.figure(figsize=(10, 6))
sns.heatmap(df_temp.corr(), annot=True) ##visualizing relationships or patterns in a dataset
plt.show()

<h3>no of Movies & TV shows that loaded for each Year

In [ ]:
df['loading_Year'].value_counts().reset_index(name='count')

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(data=df, x='loading_Year', bins=20, kde=True, color='skyblue')
plt.title('Distribution of Loading Years')
plt.xlabel('Loading Year')
plt.ylabel('Frequency')
plt.show()

In [ ]:
df_temp=df['release_year'].sort_values().head(150)
sns.set(style="whitegrid")
plt.figure(figsize=(10, 6))
sns.countplot(x=df_temp, palette='viridis')
plt.xlabel('Loading Year')
plt.ylabel('Count')
plt.title('Distribution of Relaese Years')
plt.xticks(rotation=90)  # Rotate x-axis labels f

plt.show()

<h3>How many Movies & TV Shows are in the dataset?

In [ ]:
df['type'].unique()

In [ ]:
type_counts=df.groupby('type')['type'].count().reset_index(name='count')
#type_counts=df['type'].value_counts().reset_index(name='count') #another way
type_counts

In [ ]:
sns.set(style="whitegrid")
plt.figure(figsize=(10, 6))
sns.barplot(x=type_counts['type'],y= type_counts['count'],  palette='Set2', ci=None)
plt.xlabel('Content Type')
plt.ylabel('Count')
plt.title('Distribution of Content Types')
plt.show()

<h3>How many and what movies that released in 2000

In [ ]:
df.columns

In [ ]:
df[(df['type']=='Movie' )& (df['release_year']==2000)]

In [ ]:
print("There are :",len(df[(df['type']=='Movie' )& (df['release_year']==2000)]),"Movie released in 2000")
#print("There are :",df[(df['type']=='Movie' )& (df['release_year']==2000)].shape[0],"Movie released in 2000") #another way

<h3>show only titles of all TV Shows that released in Egypt

In [ ]:
df[(df['type']=='TV Show')&(df['country']=='Egypt') ]['title']

In [ ]:
df['type'].unique()

In [ ]:
print("There are :",len(df[(df['type']=='TV Show')&(df['country']=='Egypt') ]),"TV Shows that released in Egypt ")
#print("There are :",df[(df['type']=='TV Show')&(df['country']=='Egypt') ].shape[0],"TV Shows that released in Egypt only") #another way

<h3>Show top 15 directors , who gave the heighest num of Movies and TV Shows to Netflex

In [ ]:
df['director'].value_counts().iloc[1:11]
#we start from index 1 as 0 is unknown "Nan"

In [ ]:
print("first top 10 are:")
i=0
for name in df['director'].value_counts().iloc[1:11].index:
    i+=1
    print(i,">>",name)

In [ ]:
data = df['director'].value_counts().iloc[1:11].to_dict()
df2 = pd.DataFrame(list(data.items()), columns=['Director', 'Count'])
explode = (0.1, 0, 0,0,0,0,0,0,0,0)
# Plot the pie chart
plt.figure(figsize=(8, 8))
plt.pie(df2['Count'], labels=df2['Director'], autopct='%1.1f%%', startangle=90, colors=sns.color_palette('viridis', n_colors=10),explode=explode)
plt.title('Top 10 Directors')
plt.show()

<h3>Show all Movies that is directord by "Youssef Chahine" in Egypt

In [ ]:
df[ (df['type']=='Movie')&(df['director']=='Youssef Chahine') &(df['country']=="Egypt")]

In [ ]:
print("Youssef Chahine made ",len(df[ (df['type']=='Movie')&(df['director']=='Youssef Chahine') &(df['country']=="Egypt")]),"Movies in Egypt")

<h3>In how many Movies and TV shows , duration was 100 minute

In [ ]:
df[df['duration']=='100 min']

In [ ]:
print(len(df[df['duration']=='100 min']) ,"Movies and TV shows have a duration  100 minute")

<h3>Show different Ratings defned by Netfilx

In [ ]:
df.columns

In [ ]:
df['rating'].unique()

<h3>How many Movies got "TV-14" in "Germany"

In [ ]:
df[(df['type']=="Movie")&(df['rating']=='TV-14')&(df['country']=='Germany')]

In [ ]:
print(len(df[(df['type']=="Movie")&(df['rating']=='TV-14')&(df['country']=='Germany')])," Movies got 'TV-14' in 'Germany'")

<h3>How many TV Show got the "R" rating after year 2010

In [ ]:
df[(df['type']=="TV Show")&(df['rating']=='R')&(df['release_year']>2010)]

In [ ]:
print(len(df[(df['type']=="TV Show")&(df['rating']=='R')&(df['release_year']>2010)]),'TV Show got the "R" rating after year 2010')

<h3>Which Country has the heighest no of TV Shows

In [ ]:
df[df['type']=='TV Show']['country'].value_counts()

In [ ]:
print("(",df[df['type']=='TV Show']['country'].value_counts().index[0],") is the country that has the heighest no of TV Shows ")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming your DataFrame is named 'df'
data = df[df['type']=='TV Show']['country'].value_counts().sort_values(ascending=False).head(15)
plt.figure(figsize=(12, 8))

# Use seaborn's barplot
sns.barplot(x=data.values, y=data.index, palette='viridis')

# Customize the plot
plt.title('Number of TV Shows for heighest 15 country ')
plt.xlabel('Number of TV Shows')
plt.ylabel('Country')
plt.show()

<h3>Show all Dramas Moives

In [ ]:
df[(df['type']=='Movie')&(df['listed_in']=='Dramas')]

In [ ]:
print("There are (",len(df[(df['type']=='Movie')&(df['listed_in']=='Dramas')]),") Dramas Moives")

In [ ]:
df_filter = df[(df["release_year"] < 2020) & (df["release_year"] > 1900)]
df_filter =df_filter .head(2000)

In [ ]:
plt.figure(figsize=(8,5))
ax=sns.countplot(data=df_filter, x='rating', hue='type', palette='pastel')
plt.title(' Content Type available according to ratings', fontsize=15)
plt.xlabel('Rating', fontsize=14)
ax.legend(loc='center left', bbox_to_anchor=(0.600,0.90),
          ncol=3, fancybox=True, shadow=True)
plt.show()

<h1>Wish You Luck
<h3>Esraa Meslam